<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Movies & TV Shows</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="movies" class="nav-link">Movies</a>
      </li>
      <li class="nav-item">
        <a routerLink="add_movie" class="nav-link">Add movie</a>
      </li>
      <li class="nav-item">
        <a routerLink="shows" class="nav-link">TV Shows</a>
      </li>
      <li class="nav-item">
        <a routerLink="add_show" class="nav-link">Add show</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet>
    </router-outlet>
  </div>

</div>
