<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Shows List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let show of shows; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveShow(show, i)"
        >
          {{ show.title }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllShows()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentShow">
        <h4>Show</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentShow.title }}
        </div>
        <div>
          <label><strong>Genre:</strong></label> {{ currentShow.genre }}
        </div>
        <div>
          <label><strong>Seasons:</strong></label> {{ currentShow.seasons }}
        </div>
        <div>
          <label><strong>Active:</strong></label> {{ currentShow.active ? "Active" : "Inactive"}}
        </div>
  
        <a class="badge badge-warning" routerLink="/shows/{{ currentShow.id }}">
          Edit
        </a>
      </div>
  
      <!-- <div *ngIf="!currentShow">
        <br />
        <p>Please click on a Show...</p>
      </div> -->
    </div>
  </div>
  