<div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted" class="center">
        <div class="form-group" >
          <label for="title">Title *</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="show.title"
            required
            name="title"
            placeholder="Title..."
          />
        </div>
  
        <div class="form-group">
          <label for="genre">Genre *</label>
          <input
            type="text"
            class="form-control"
            id="genre"
            [(ngModel)]="show.genre"
            required
            name="genre"
            placeholder="Genre..."
          />
        </div>

        <div class="form-group">
          <label for="seasons">Seasons</label>
          <input
            class="form-control"
            id="seasons"
            [(ngModel)]="show.seasons"
            name="seasons"
            placeholder="Seasons..."
          />
        </div>

        <div class="form-group checkboxes">
            <label for="seasons"> <span>Active   </span>
            <input
              type="checkbox"
              id="active"
              [(ngModel)]="show.active"
              name="active"
            /> </label>
        </div>
  
        <button (click)="saveShow()" class="btn btn-success btn-block">Submit</button>
        <div style="text-align: center;">* marked fields are mandatory.</div>
      </div>
  
      <div *ngIf="submitted" class="center">
          <h4>You submitted successfully!<br>Would you like to add another one? </h4>
          <button class="btn btn-success btn-block" (click)="newShow()">Add</button>
      </div>
    </div>
  </div>
  